/* Global styles */
body {
   background-color: white;
    font-family: Didot, serif;
}

/* Header styles */
h1 {
    font-family: Snell Roundhand, serif; 
    color: rgb(0, 0, 2);
    font-weight: bold;
    font-size: 60pt;
}

/* Preformatted text styles */
pre {
    color: lightgray;
    background-color: darkgray;   
}

/* Custom classes */
.greentext {
    color: green;
}

.boldtext {
    font-weight: bold;
}

#bigos {
    width: 370px;
    border-radius: 93% 91% 0% 96% / 93% 91% 0% 96%;
}

/* Table styles */
tr:nth-child(even) {
    background: #CCC;
}

tr:nth-child(odd) {
    background: #FFF;
}

.tablesize {
    width: 85%;
}

ul {
    background-color: lightblue;
    padding: 20px 0; /* Zwiększenie odstępu górnego i dolnego */
    height: 50px; /* Nowa wysokość paska nawigacji */
    border-radius: 10px; /* Zaokrąglenie na końcach */
    overflow: hidden; /* Zapobieganie wypływaniu elementów potomnych */
}

li {
    float: left;
    list-style: none;
    margin-right: 10px; /* Dodanie odstępu między linkami */
}

li a {
    display: inline-block;
    color: black; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 20px; /* Zaokrąglenie linków */
    transition: background-color 0.3s; /* Płynne przejście koloru tła */
}

li a:hover {
    background-color: orange; /* Zmiana tła na pomarańczowe po najechaniu */
}

.active {
    background-color: red;
}

/* Content container styles */
.container {
    border: 1px solid black;
    padding: 25px 50px;
    background-color: lightblue;
}
.center {
    text-align: center;

/* Centered section styles */
.centered-section {
    background-color: white;
    padding: 20px 0;
    text-align: center;
}

/* Separator line styles */
.separator {
     border-bottom: 4px solid black;
    margin-bottom: 20px;
}
   .contact-form-container {
    width: 60%; /* Okno kontaktowe jest 60% szerokości strony */
    margin: 0 auto; /* Centralnie umieszczone */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 20px; /* Zaokrąglone rogi */
}

.contact-form-container form {
    display: flex;
    flex-direction: column;
}

.contact-form-container h2 {
    text-align: center;
}

