body {
    background-color: cornsilk;
    font-family: "Lucida Console", "Courier New", sans-serif;
}

h1 {
    color: rgb(0, 0, 2);
    font-family: monospace;
    font-weight: bold;
    font-style: "Lucida Console", "Courier New", monospace;
    font-size: 50pt;
}

pre {
    color: lightgray;
    background-color: darkgray;
    font-family: 'Courier New', Courier, monospace;
}

.greentext{
    color: green;
}

.boldtext{
    font-weight: bold;
}

#bigos {
    width:370px;
    border-radius: 93% 91% 0% 96% / 93% 91% 0% 96%;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

.tablesize {
    width: 85%;
}

.center {
    text-align: center;
  }
  div {
    float: left;
    padding: 15px; 
  }
  
  .div1 {
    background: rgb(185, 87, 156);
    width:25%;
  }
  
  .div2 {
    background: rgb(105, 147, 182);
    width:25%;
  }
  
  .div3 {
    background: rgb(152, 214, 152);
    width:25%;
  }

  .div4 {
    background: rgb(204, 196, 106);
    width:25%;
  }

